.btn {
    border-radius: 0 !important;
    background-color: #b65039;
}
#headline {
    background-image: url(/assets/img/head-image.jpg);
    background-size: cover;
    height: calc(100vh - 58px);
    display: flex;
}